#container {
  overflow: hidden;
  min-height: 200px;
}

.pie-row {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  margin-top: 15px;
}
.pie-row .pie-wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100px;
  background-color: #fff;
  border: 2px solid white;
  height: 110px;
  text-align: center;
  margin: 0 auto;
  border-radius: 3px;
}
.pie-row .pie-wrap.selected {
  background: #eee;
  border: 2px solid #ddd;
}
.pie-row .pie-wrap:hover {
  border: 2px solid #4d99ef;
}
.pie-row .pie-wrap .dayWrap p {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
}
.pie-row .pie-wrap .dayWrap p:last-child {
  font-size: 11px;
  font-weight: normal;
  color: #999;
  margin-top: -3px;
}
