@import '../styles/_variables.scss';

@mixin clearfix {
  clear: both;
  &::after {
    content: '';
    display: table;
  }
}

.pills{
  margin: 20px 0;
  overflow: hidden;
  @include clearfix;
  .capsule{
    float: left;
    background-color: $color-gray-lighter;
    border-radius: 100px;
    margin: 5px 5px 5px 0px;
    padding: 5px 10px;
  }
}
