@import 'styles/_variables.scss';

header{
    background: linear-gradient(left,$color-purple,$color-blue-alt);
    width: 100%;
    margin: 0 auto 30px;
    padding: 60px 0;
  h1{
    font-size: $larger-font-size;
    letter-spacing: normal;
    color: $color-white;
    margin: 0 auto;
  }
  h3{
    font-weight: $font-normal;
    color: $color-white;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  header{
    h1{
      font-size: $title-font-size;
    }
    h3{
      font-size: $base-font-size;
    }
  }
}
