@import './styles/_variables.scss';

.resume_container{
  text-align: left;
  margin-top:70px;
  margin-bottom: 150px;
  .header-bar.thin{
    padding: 5px 0;
  }
  .profile_pic{
    background-size: cover;
    height: 180px;
    width: 180px;
    border-radius: 100%;
  }
  .info_list{
    margin: 30px auto 50px;
    list-style-type: none;
    li{
      img{
        margin-left: -35px;
        margin-right: 10px;
        width: 23px;
        height: 33px;
      }
      &:first-child{
        margin-bottom: 5px;
      }
    }
  }
  a{
    color: inherit;
  }
}
