@import 'styles/_variables.scss';

.gridItem{
    box-shadow: 0 0 1.25em 0 rgba($color-gray,.2);
   background-size: cover;
   width: 100%;
   height: 100%;
   .gridItem__cover{
     position:relative;
     width:100%;
     height: 100%;
     color:$color-white;
     visibility: hidden;
     .gridItem__cover-content{
       padding: 15px;
       h3{
        font-size:$base-font-size;
        text-transform: capitalize;
        font-weight: $font-bold;
        margin: 5px auto;
        border-bottom: 1px solid $color-white;
        padding-bottom: 5px;
       }
       p{
        font-size:$regular-font-size;
        margin-top: 0;
       }
       button{
         border-radius: 0;
       }
     }
   }
  &:hover {
   box-shadow: 0 0 3em 0 rgba($color-gray,.7);
   filter: grayscale(100%);
   .gridItem__cover {
    visibility: visible;
    background-color: rgba(0,0,0,.8);
   }
 }
}
