@import 'variables';

.filter-panel{
  text-align: left;
}
.btn.btn-primary{
  font-family: $font-sans;
  background-color: $color-black;
  color: $color-white;
  border: none;
  margin: 0 3px 3px 0;
  &:hover, &:focus, &:active, &.active{
    background-color: $color-pink;
    color: $color-white;
  }
}
