@import './styles/_variables.scss';

footer{
  background-color: $color-black;
  color: $color-white;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  float: none;
  clear: both;
  text-align: center;
  @media screen and (min-width: 768px){
    div{
      text-align: left;
      &:nth-child(2){
        text-align: right;
        display: inline;
      }
    }
  }
  p{
    margin-top: 7px;
  }
}
