body{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1{
  color:#00489F;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -6px;
  font-size:60px;
}

* {
  box-sizing: border-box;
}

@mixin clearfix {
  clear: both;
  &::after {
    content: '';
    display: table;
  }
}

.tile {
  display: inline-block;
  float: left;
  width: 350px;
  height: 200px;
  margin: 10px;
}

.gallery {
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  @include clearfix;
  overflow: hidden;
}

@media screen and (max-width: 420px){
  .tile {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
}
