body{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1{
  color:#00489F;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -6px;
  font-size:60px;
}

* {
  box-sizing: border-box;
}
.tile {
  display: block;
  float: left;
  width: 400px;
  height: 200px;
  margin: 10px;
}

.demo {
  width: 96%;
  margin: 0 auto;
  position: relative;
}
