.home_gallery{
    text-align: left;
    margin-top: 70px;
    overflow: hidden;
    margin-bottom: 100px;
    @media screen and (max-width: 767px) {
      margin-top:110px;
    }
    @media screen and (max-width: 300px) {
      margin-top:150px;
    }
}
