@import 'styles/_normalize.scss';
@import 'styles/_variables.scss';

h1,h2,h3,h4,h5,h6,p,button,input,li,span,address,div {
  font-family: $font-sans;
}

body{
  font-family: $font-sans;
  font-size: $regular-font-size;
}

html, body, #root{
  position: relative;
  height: 100%;
  display: block;
}

.wrapper{
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

  a {
        span {
          text-align: center;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            bottom: -5px;
            width: 0px;
            height: 2px;
            transition: all ease-in-out 0.3s;
            opacity: 0;
            left: 0;
            background-color: $color-black;
          }
        }
    &:hover {
        cursor: pointer;
        span {
          &:after {
            width: 100%;
            opacity: 1;
          }
        }
      }
    }
