@import 'styles/_variables.scss';

nav.navbar {
    min-height: 50px;
    margin: 0;
    border-radius: 0;
    border: 1px solid transparent;
    .navbar-brand {
      font-size: $larger-font-size;
      font-family: $font-style;
    }
    .navbar-toggle {margin: 13px 15px 13px 0;}
}


nav.navbar.navbar-fixed-top {
  margin: 0 auto;
	height: 35px;
  .navbar-brand {font-size: $lead-font-size}
  .navbar-toggle {
    margin: 15px 15px 8px 0;
    padding: 4px 5px;
  }
}


@media screen and (max-width: 767px) {
  nav{
    .navbar-brand {
      font-size: $large-font-size;
    }
  }
}

@media screen and (max-width: 600px) {
  nav{
    .navbar-brand {
      font-size: $title-font-size;
    }
  }
}
