@import 'variables';

  .social-media{
      display: inline-block;
      @media screen and (max-width: 911px) {
        text-align: center;
      }
      g.social-svg-mask {
        fill: transparent !important;
      }
      g.social-svg-icon{
        fill: black !important;
      }
      .social-icon:hover{
        g.social-svg-mask {
            fill: black !important;
        }
        g.social-svg-icon{
          fill: white !important;
        }
      }

  }
